<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.dsh-krouter.daily-evolution</string>
  <key>ProgramArguments</key>
  <array>
    <string>__RUN_SH__</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>10</integer>
  </dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>OBSIDIAN_VAULT</key>
    <string>__VAULT__</string>
    <key>KROUTER_ROUTER</key>
    <string>__ROUTER__</string>
    <key>KROUTER_WRITER</key>
    <string>__WRITER__</string>
    <key>KROUTER_KEYS_ENV</key>
    <string>__KEYS_ENV__</string>
    <key>HOME</key>
    <string>__HOME__</string>
    <key>PATH</key>
    <string>__PATH__</string>
  </dict>
</dict>
</plist>
